<div class="footer pb-1" style="border-top: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 0 0 15px rgb(0 0 0 / 20%)">
  <footer class="text-center text-black">
    <div class="container">
      <section>
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>

    <%# <div class="text-center p-3" style="background-color: rgba(250, 250, 250, 0.2); font-size: 12px">
      © 2022 Copyright: MS - RailsWatchList
    </div> %>
  </footer>
</div>
